.example-button-row button,
.example-button-row a {
    top: auto !important;
    right: 16px !important;
    bottom: 72px !important;
    left: auto !important;
    position: fixed !important;
    
}

i {
    display: flex;
}
