<h2 mat-dialog-title>Ajouter un item</h2>
<div mat-dialog-content>
    <form action="/add" method="POST">
        <mat-form-field>
            <input matInput [(ngModel)]="data.item" placeholder="Item">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput [(ngModel)]="data.quantity" placeholder="Quantité">
        </mat-form-field>
        
        <mat-form-field>
            <input name="state" matInput [(ngModel)]="data.state" placeholder="Etat">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelButton()">Annuler</button>
  <button mat-button (click)="addItem('Item ajouté', 'Fermer')" cdkFocusInitial>Ajouter</button>
</div>