<mat-accordion class="accordion">
    
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      
      <mat-panel-title>
        INFORMATIONS
      </mat-panel-title>
      
      <mat-panel-description>
        Détail du logement
      </mat-panel-description>
      
    </mat-expansion-panel-header>
    <div>
        <h4>Studio</h4>
        <h1>Chez Monique</h1>
        <p>Hôte: Monique Dawkins</p>
        <app-list-info></app-list-info>
        
    </div>
    
    </mat-expansion-panel>
    
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        
        <mat-panel-title>
          PRIX
        </mat-panel-title>
        
        <mat-panel-description>
          Prix indicatifs
        </mat-panel-description>
      
      </mat-expansion-panel-header>
      <p> 1 Nuit : 20€ <tr></tr>
          1 Week-end : 30€ <tr></tr>
          1 Semaine : 100€ 
      </p>
    </mat-expansion-panel>
    
</mat-accordion>
  