<!--The content below is only a placeholder and can be replaced.-->
<div class="content">
  <router-outlet class="components">
  </router-outlet>
</div>
<ul class="bottom-menu">
  <a routerLink="/calendrier" mat-ripple><i class="material-icons">calendar_today</i>Calendrier</a>
  <a routerLink="/inventaire" mat-ripple><i class="material-icons">list</i>Inventaire</a>
  <a routerLink="/reservations" mat-ripple><i class="material-icons">event</i>Réserver</a>
  <a routerLink="/livre" mat-ripple><i class="material-icons">comment</i>Livre d'or</a>
  <a routerLink="/infos" mat-ripple><i class="material-icons">info</i>Infos</a>
</ul>
