<!--The content below is only a placeholder and can be replaced.-->
<div class="content">
  <router-outlet class="components">
  </router-outlet>
</div>
<ul class="bottom-menu">
  <a routerLink="/calendrier" mat-ripple><i class="material-icons">calendar_today</i></a>
  <a routerLink="/data-table" mat-ripple><i class="material-icons">list</i></a>
  <a routerLink="/reservations" mat-ripple><i class="material-icons">event</i></a>
  <a routerLink="/livre" mat-ripple><i class="material-icons">comment</i></a>
  <a routerLink="/infos" mat-ripple><i class="material-icons">info</i></a>
</ul>
