@import '../material-theme';

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .content {
        flex-grow: 1;
        
        .component {
            justify-content: center;
            
        }
    }
    .bottom-menu {
        min-height: 56px;;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        background-color: mat-color($spot-taken-primary);
        padding-inline-start: 0px;
        margin: 0px; 
        text-align: center;
        bottom: 0;
        position: relative;
        position: -webkit-sticky;
        position: sticky;
        
        a {
            display: flex;
            text-decoration: none;
            opacity: 0.76;
            color: white;
            width: 100vh;
            flex-direction: column;
            height: 99%;
            border-bottom: 1px solid transparent;
            font-size: 2;
            
            i {
                margin-top: 8px;
            }
            &:focus {
                opacity: 1;
                border-bottom: 1px solid #FFFFFF;  
            } 
        }
    }
}




