.card {
    display: flex;
    flex-direction: column;
    overflow: auto;
    .button {
        background-color: transparent;
        border: none;
    }
    .photo {
        border-radius: 0;
        
    }
    p {
        text-align: justify;
    }
}

.mat-card {
    border-radius: 0;
    height: 100%;
}

