<!-- <mat-card class="card">
    <img mat-card-image src="https://source.unsplash.com/collection/1924128/1600x900" alt="Photos du studio" class="photo">
    <mat-card-content>
        <app-expansion-panel></app-expansion-panel>
    </mat-card-content>
    
  </mat-card> -->

<app-carousel></app-carousel>

<div class="container">

    <div class="header">
        <p id="type">STUDIO</p>
        <h1>Chez Monique</h1>
        <p>
            Situé au 2ème étage d'une maison familiale,
            le studio est proche de toutes comodités.
        </p>
    </div>
    
    <mat-list role="list">
        <h4>Couchages</h4>
        <div class="wrap-content">
            <li>1 lit simple</li>
            <li>1 canapé convertible</li>
        </div>
        <app-divider></app-divider>
        <h4>&Eacute;quipements</h4>
        <div class="wrap-content">
            <li>1 place de parking</li>
            <li>1 cuisine</li>
            <li>1 salle de bain</li>
            <li>1 détecteur de fumée</li>
        </div>
        <app-divider></app-divider>
        <h4>Le lieu</h4>
        <app-divider></app-divider>
        <h4>Les tarifs</h4>
        <div class="wrap-content">
            <p >1 nuit: 20€ <tr></tr>
                1 week-end: 30€<tr></tr>
                1 semaine: 100€</p>
        </div>
    </mat-list>

</div>
 
