@import './../../../material-theme.scss';

.example-button-row button,
.example-button-row a {
    top: auto !important;
    right: 16px !important;
    bottom: 72px !important;
    left: auto !important;
    position: fixed !important;
    
}

i {
    display: flex;
    color: mat-color($md-palette1, text-icons);
}

.mat-accent {
    background-color: mat-color($md-palette1, accent-color);
}