<mat-list role="list" class="list-info-css">
    <mat-list-item role="listitem"><h4>Couchages</h4></mat-list-item>
    <div class="wrap-content">
        <li>1 lit simple</li>
        <li>1 canapé convertible</li>
    </div>
    <app-divider></app-divider>
    <mat-list-item role="listitem"><h4>Equipements</h4></mat-list-item>
    <div class="wrap-content">
        <li>1 place de parking</li>
        <li>1 cuisine</li>
        <li>1 salle de bain</li>
        <li>1 détecteur de fumée</li>
    </div>
    <app-divider></app-divider>
    <mat-list-item role="listitem"><h4>Le lieu</h4></mat-list-item>
    <app-map></app-map>
</mat-list>