<mat-list role="list" class="list-info-css">
    <mat-list-item role="listitem"><h4>Couchages</h4></mat-list-item>
    <div class="wrap-content">
        <p>1 lit simple</p><p>·</p>
        <p>1 canapé convertible</p>
    </div>
    <app-divider></app-divider>
    <mat-list-item role="listitem"><h4>Equipements</h4></mat-list-item>
    <div class="wrap-content">
        <p>1 place de parking</p><p>·</p>
        <p>1 cuisine</p><p>·</p>
        <p>1 salle de bain</p><p>·</p>
        <p>1 détecteur de fumée</p>
    </div>
    <app-divider></app-divider>
    <mat-list-item role="listitem"><h4>Le lieu</h4></mat-list-item>
    <app-map></app-map>
    
</mat-list>