<div class="carousel-container">
    <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide><img src="https://source.unsplash.com/7RqjJiDIX4E/1600x900"></ng-template>  
            <ng-template carouselSlide><img src="https://source.unsplash.com/BTumO2C6QlY/1600x900"></ng-template> 
            <ng-template carouselSlide><img src="https://source.unsplash.com/y-hYL6vehLI/1600x900"></ng-template> 
            <ng-template carouselSlide><img src="https://source.unsplash.com/QN6fCROYdWM/1600x900"></ng-template>  
            <ng-template carouselSlide><img src="https://source.unsplash.com/V6r9x_ICW-U/1600x900"></ng-template>
    </owl-carousel-o>
</div>
