@import 'material-theme';
@import '~material-bottom-nav';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($spot-taken-theme);

@mixin mat-ripple-theme($theme) {
    .mat-ripple-element {
      background-color: rgba(255, 255, 255, .4);
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; color: mat-color($md-palette1, primary-text);}

.unavailable-date-cell {
    background: mat-color($spot-taken-warn);
}

.today-cell {
    background: mat-color($md-palette1, dark-primary);
}

.mat-calendar-header {
    background-color: mat-color($md-palette1, dark-primary);
    color: #ffffff;
    
}

.mat-calendar-arrow {
    border-color: mat-color($md-palette1, text-icons);
}

.button {
    border: 1px solid black;
}

/* .mat-button-wrapper {
    font-size: 24px;
    color: #ffffff;
    opacity: 70%;
    
} */
