@import 'material-theme';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($spot-taken-theme);

@mixin mat-ripple-theme($theme) {
    .mat-ripple-element {
      background-color: rgba(255, 255, 255, .4);
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.unavailable-date-cell {
    background: mat-color($spot-taken-warn);
}

.today-cell {
    background: mat-color($spot-taken-primary);
}

.mat-calendar-header {
    background-color: mat-color($spot-taken-primary);
    color: #FFFFFF;
    
}

.mat-calendar-arrow {
    border-color: #FFFFFF;
}

.mat-button-wrapper {
    font-size: 24px;
    color: FFFFFF;
    opacity: 70%;
}


//.mat-card-content {
//    border: 1px solid black;
//    margin-left: 0px;
//}

